$header_height: 34px;
$toolbar_height: 40px;
$formula_height: 34px;
$color_grey: #e7eaed;
$color_grey_dark: rgb(122, 104, 104);
$border_color: #c0c0c0;
$info_cell_width: 40px;
$cell_height: 30px;
$cell_width: 100px;
$db-header-height: 64px;
