@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: 25px;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info_cell_width;
    height: 100%;
    border: 1px solid $border-color;
    background: $color_grey;
    border-top: none;
    color: $color_grey_dark;
    position: relative;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color_grey;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    color: $color_grey_dark;
    position: relative;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

  .col-resize, .row-resize {
    background-color: $resize-color;
    position: absolute;
    opacity: 0;

    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    width: $resize-width;
    top: 0;
    right: 0;
    bottom: 0;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    height: $resize-width;
    left: 0;
    bottom: 0;
    right: 0;

    &:hover {
      cursor: row-resize;
    }
  }
}
